  .App {
    height: 100%;
    width: 100%;
  }

@media not print {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .component {
    display: initial;
  }
  .print-section {
    display: none;
  }
}

@media print {
  .component {
    display: none;
  }
  .print-section {
    display: grid;
  }
}