html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.component {
  background-color: #cccccc;
  padding: 0 15px 30px;
  width: 90vw;
  max-width: 600px;
  max-height: 90vh;
  overflow: hidden;
  border-radius: 5px;
}

.disclaimer {
  margin-bottom: 20px;
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
}